@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  background-color: white;
  color: rgb(205,92,92);
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

::placeholder {
  color: white;
}

nav {
  position: fixed;
  top: 0;
  background-color: rgb(205,92,92);
  height: 55px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  padding: 1rem;
}

#insert {
  border-style: none;
  height: 20px;
  background-color: rgb(240,128,128);
  width: 30%;
}

#click, #select-display{
  margin-left: 1.5rem;
  border-style: none;
  background-color: rgb(240,128,128);
  color: white;
}

main {
  position: relative;
  margin: 80px auto 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

#back-button {
  position: fixed;
  background-color: rgb(0,0,0,0);
  border: none;
  left: 20vw;
  top: 11vh;
}

.container {
  background-color: #F5FFFA;
  height: 100%;
  margin: 0 20px 80px 20px;
  padding-bottom: 10px;
  box-shadow: 0 3px 10px -4px 	#0A0005; 
}

.image {
  background-color: white;
  height: 300px;
  width: 300px;
  object-fit: scale-down;
}

.container > p {
  line-height: 5px;
  text-align: center;
}

.container h2 {
  display: block;
  text-align: center;
  background-color: orange;
  margin-top: 0;
}

.attacks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-row-gap: 10px;
  justify-items: space-evenly;
  width: 100%;
  justify-items: center;
}

.special-attack {
  color: rgb(240,128,128);
}

.special-attack > p {
  text-align: center;
}