@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

:root {
  font-size: 18px;
}

body {
  background-color: white;
  color: rgb(205,92,92);
  font-size: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-style: oblique;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

::placeholder {
  color: white;
}

nav {
  position: fixed;
  top: 0;
  background-color: rgb(205,92,92);
  height: 70px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  padding: 1rem;
}

#insert {
  border-style: none;
  height: 33px;
  width: 25vw;
  background-color: rgb(240,128,128);
  font-size: 1.5rem;
}

#click, #select-display{
  height: 33px;
  margin-left: 1.5rem;
  border-style: none;
  background-color: rgb(240,128,128);
  color: white;
  font-size:  1.5rem;
}

main {
  position: relative;
  margin: 0 auto;
  top: 120px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

#back-button {
  align-self: flex-start;
  background-color: rgb(0,0,0,0);
  border: none;
  margin-bottom: 10vmax;
}

.container {
  background-color: #F5FFFA;
  height: 100%;
  margin: 0 20px 80px 20px;
  padding-bottom: 10px;
  box-shadow: 0 3px 10px -4px 	#0A0005; 
}

.image {
  background-color: white;
  height: 300px;
  width: 300px;
  object-fit: scale-down;
}

.container > p {
  line-height: 5px;
  text-align: center;
}

.container button {
  display: block;
  width: 100%;
  text-align: center;
  background-color: orange;
  color: rgb(205,92,92);
  border-style: none;
  margin-top: 0;
  font-size: 1.5rem;
  font-style: oblique;
}

.attacks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-row-gap: 10px;
  justify-items: space-evenly;
  width: 100%;
  justify-items: center;
}

.special-attack {
  color: rgb(240,128,128);
}

.special-attack > p {
  text-align: center;
}

.onthing-text-box {
  padding: 0;
}

#nothing-text {
  position: relative;
  margin-top: 0;
  text-align: center;
  font-size: 2rem;
}

#loading {
  position: absolute;
  height: 30vh;
  width: 30vw;
  top: 20vh;
  object-fit: contain;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}