@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  background-color: white;
  color: darkblue;
  font-size: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: blue;
}

main {
  background-color: red;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.container {
  height: 100%;
/*   flex-shrink: 1;  */
/*   flex-grow: 1;  */
  margin-bottom: 150px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

